.portfolio-loader{
position:fixed;
inset:0;
z-index:99999;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:
radial-gradient(circle at top,#dbeafe,transparent 50%),
linear-gradient(#ffffff,#f8fbff);

transition:.35s;
}

.portfolio-loader--hide{
opacity:0;
visibility:hidden;
}

.loader-logo{

width:90px;
height:90px;

display:flex;
align-items:center;
justify-content:center;

border-radius:24px;

font-size:30px;
font-weight:800;

color:white;

background:
linear-gradient(135deg,#2563eb,#38bdf8);

box-shadow:
0 20px 50px rgba(37,99,235,.25);

animation:floatLogo 1.2s ease-in-out infinite alternate;
}

.portfolio-loader h2{

margin-top:22px;

font-size:36px;

font-weight:800;

color:#0f172a;

}

.portfolio-loader p{

margin-top:10px;

font-weight:600;

color:#2563eb;

}

.loader-bar{

margin-top:28px;

width:220px;

height:5px;

background:#dbeafe;

border-radius:999px;

overflow:hidden;

}

.loader-bar span{

display:block;

height:100%;

width:45%;

background:
linear-gradient(90deg,#2563eb,#38bdf8);

animation:loader 1s infinite;
}

@keyframes loader{

from{
transform:translateX(-120%);
}

to{
transform:translateX(320%);
}

}

@keyframes floatLogo{

from{
transform:translateY(0);
}

to{
transform:translateY(-8px);
}

}